body {
    font-family: "Helvetica","Arial",serif;
    color: #333;
    background-color: #ccc;
    margin: 1em 10%;
}

h1 {
    color: #333;
    background-color: transparent;
}

a {
    color: #c60;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    line-height: 30px;
}

ul {
    padding: 0;
}

li {
    float: left;
    list-style: none;
    padding: 1em;
}

.clearfix:after {
    content: "";
    display: table;
    overflow: hidden;
    clear: both;
}