<!DOCTYPE html>
<html class="no-js" lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Vue Learn</title>
    <style>

    </style>
</head>
<body>
    <div id="app">
        <template v-if="products.length">
            <table class="table table-striped">
                <thead>
                <tr class="text-center">
                    <th>序号</th>
                    <th>全选&nbsp;<input type="checkbox" :checked="allchecked" @click="handler($event)"></th>
                    <th>商品名称</th>
                    <th>商品单价</th>
                    <th>购买数量</th>
                    <th>操作</th>

                </tr>
                </thead>
                <tbody>
                <tr v-for="(product,index) in products" class="text-center">
                    <td>{{index+1}}</td>
                    <td><input type="checkbox" v-model="product.checked"> </td>
                    <td>{{product.name}}</td>
                    <td>{{product.price|standard}}</td>
                    <td><button class="btn btn-info btn-sm" style="width: 27px" @click="decreaseCount(index)">-</button> {{product.count}} <button style="width: 27px" class="btn btn-info btn-sm" @click="increaseCount(index)">+</button></td>
                    <td>
                        <button class="btn btn-danger btn-sm" @click="removeItem(index)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>总价：{{totalprice}}</div>
        </template>
        <p v-else>购物车为空</p>
    </div>

<script src="vue.js"></script>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            products: [
                {
                    id: 1,
                    name: 'iPhone 7',
                    price: 5000,
                    count: 1,
                    checked:true
                },
                {
                    id: 2,
                    name: 'iPad Pro',
                    price: 8000,
                    count: 1,
                    checked:true
                },
                {
                    id: 3,
                    name: 'Macbook Pro',
                    price: 10000,
                    count: 1,
                    checked:true
                }
            ]
        },
        computed: {
            totalprice: function () {
                var total = 0;
                for (var i = 0; i < this.products.length; i++) {
                    if (this.products[i].checked === true) {
                        total += (this.products[i].price * this.products[i].count);
                    }
                }
                return total.toString().replace(/\B(?=(\d{3})+$)/g, ',');
            },

            allchecked: function () {
                var checked = true;
                for (var i = 0; i < this.products.length; i++) {
                    if (this.products[i].checked === false) {
                        checked = false;
                        break;
                    }
                }
                return checked
            }
        },

        filters: {
            standard: function (value) {
                return value.toString().replace(/\B(?=(\d{3})+$)/g, ',');
            }
        },

        methods: {
            increaseCount(index) {
                this.products[index].count++;
            },
            decreaseCount(index) {
                if (this.products[index].count === 1) {

                } else {
                    this.products[index].count--;
                }
            },
            removeItem(index) {
                this.products.splice(index, 1);
            },
            handler:function (event) {
                if (event.target.checked === false) {
                    for (var i = 0; i < this.products.length; i++) {
                        this.products[i].checked = false;
                    }
                }
                else {
                    for (var j = 0; j < this.products.length; j++) {
                        this.products[j].checked = true;
                    }
                }
            }
        }
    })
</script>


</body>
</html>