<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue 01 基本例子</title>
</head>
<body>

<div id="app">
    <h1 ref="heading">{{ title }}</h1>
    <button v-on:click="show">Show Paragraph</button>
    <p v-if="showParagraph">This is not always visible</p>
</div>

<Card style=" width: 350px; ">
    <p slot= "title">与XXX聊天中</p>
    <a href="#" slot="extra">
        <Icon type="android-close" size="18"></Icon>
    </a>
    <div style="height: 100px;">
    </div>
    <div>
        <Row :gutter="16">
            <i-col span="17">
                <i-input
                   v-model="value"
                   placeholder="请输入．··"></i-input>
            </i-col>
            <i-col span="4">
            <i-button
                type="primary"
                icon="paper-airplane">发送</i-button>
            </i-col>
        </Row>
    </div>
</Card>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>
