<!DOCTYPE html>
<html class="no-js" lang="zh" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vue Learn</title>
    <script src="vue.js"></script>
    <style>
        .outer {
            width: 300px;
            height: 300px;
            background-color: gold;
            position: relative;
        }

        .inner {
            width: 150px;
            height: 150px;
            background-color: red;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        
        .demo {
            width: 100px;
            height: 100px;
            margin: 10px;
            background-color: #dddddd;
        }

        .green {
            background-color:green;
        }

        .blue {
            background-color: blue;
        }

        .red {
            background-color: red;
        }
    </style>
</head>
<body>

<!--<div id="app">-->
<!--    <button v-on:click="add(2, $event)">Click me</button>-->
<!--    <p>{{ counter }}</p>-->
<!--</div>-->

<!--<script>-->
<!--    new Vue({-->
<!--        el:"#app",-->
<!--        data:{-->
<!--            counter: 0,-->
<!--            x:0,-->
<!--            y:0-->
<!--        },-->
<!--        methods: {-->
<!--            add: function (step, event) {-->
<!--                this.counter = this.counter + step;-->
<!--                console.log(event);-->
<!--            }-->
<!--        }-->
<!--    })-->
<!--</script>-->


<!--<div id="app">-->
<!--    <button v-on:click="count++">Count++</button>-->
<!--    <button v-on:click="count&#45;&#45;">Count&#45;&#45;</button>-->
<!--    <button v-on:click="another++">Another++</button>-->
<!--    <button v-on:click="another&#45;&#45;">Another&#45;&#45;</button>-->
<!--    <p>{{ count }} | {{ another }}</p>-->
<!--    <p>{{ display() }} | {{computed_display }}</p>-->
<!--</div>-->

<!--<script>-->
<!--    new Vue({-->
<!--        el: "#app",-->
<!--        data: {-->
<!--            count: 0,-->
<!--            another: 0-->
<!--        },-->
<!--        computed: {-->
<!--          computed_display:function () {-->
<!--              console.log("Computed value computed");-->
<!--              return this.count >= 5 ? "Count > 5" : "Count < 5";-->
<!--          }-->
<!--        },-->
<!--        watch:{-->
<!--            count: function () {-->
<!--                let vm = this;-->
<!--                setTimeout(function () {-->
<!--                    vm.count = 0;-->

<!--                }, 2000);-->
<!--            }-->
<!--        },-->
<!--        methods: {-->
<!--            display: function () {-->
<!--                console.log("display() is executed");-->
<!--                return this.count >= 5 ? "Count > 5" : "Count < 5";-->
<!--            }-->
<!--        }-->
<!--    });-->
<!--</script>-->

<!--<div id="app">-->
<!--    <p>{{ count }}</p>-->
<!--    <input type="text" :value="count">-->
<!--    <button @click="count++">Click</button>-->
<!--</div>-->
<!--<script>-->
<!--    new Vue({-->
<!--        el: "#app",-->
<!--        data:{-->
<!--            count:0-->
<!--        }-->
<!--    })-->
<!--</script>-->

<!--<div id="app">-->
<!--    <div class="demo" :class="{red:changeClass,blue:!changeClass}" @click="changeClass = !changeClass"></div>-->
<!--    <div class="demo" :class="divClass" @click="changeClass = !changeClass"></div>-->
<!--    <div class="demo" :class="color" @click="changeClass = !changeClass"></div>-->
<!--    <div class="demo" :class="[color,{green:changeClass}]" @click="changeClass = !changeClass"></div>-->
<!--    <input type="text" v-model="color">-->
<!--</div>-->
<div id="app">
    <div class="demo" :style="styles"></div>
    <div class="demo" :style="[styles, style2, {margin: this.height/5 + 'px'}]"></div>
    <input type="text" v-model="color">
    <input type="text" v-model="width">
    <input type="text" v-model="height">
</div>



<script>
    new Vue({
        el: "#app",
        data:{
            changeClass: false,
            color: "red",
            width:200,
            height:200
        },
        computed:{
            styles:function () {
                return {
                    backgroundColor:this.color,
                    width:this.width+"px"
                }
            },
            style2:function () {
                return {
                    height:this.height+"px"
                }
            }
        }
        
    })
</script>














</body>
</html>